<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
                {{t 'Toggle navigation'}}
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" {{action "transitionToHomePage"}}>
            <img class="logo" src="/assets/images/logo.svg" alt="logo">
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-right hidden-xs hidden-sm">
        {{#if permission.manage_users}}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fas fa-cog"></i>
                {{t 'Configuration'}}
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <LinkTo @route="users">
                    <i class="fas fa-users"></i>
                    {{t 'Manage users'}}
                    </LinkTo>
                </li>
            </ul>
        </li>
        {{/if}}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fas fa-user"></i>
                {{user.name}} {{user.surname}}
                <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                {{#unless isLdap}}
                <li>
                    <LinkTo @route="profile">
                    <i class="fas fa-cog"></i>
                    {{t 'Change profile'}}
                    </LinkTo>
                </li>
                <li class="divider"></li>
                {{/unless}}
                <li>
                    <a {{action 'invalidateSession'}} href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        {{t 'Logout'}}
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <form {{action 'submit' on='submit' }}>
                <div>
                    <div class="col-sm-9">
                        <Form::FormSelect @class="language-select form-control" @name="language" @isPowerSelect={{false}} @selectOptions={{userLanguages}} @allowClear={{true}} @value={{user.language}} @isFormValid={{isFormValid}} @showMessage={{showMessage}} @printSelectValuesHandle={{action "printSelectValuesHandle"}} @validator={{validation-parameters required=true minLength=2 maxLength=2 type="select" }} />
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary col-sm-3">
                            <i class="fas fa-save"></i>
                    </button>
                </div>
            </form>
        </li>
    </ul>
    <div class="hidden-md hidden-lg" role="navigation">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if permission.manage_users}}
                <li class="manage-users">
                    <LinkTo @route="users">
                    <i class="fas fa-users"></i>
                    {{t 'Manage users'}}
                    </LinkTo>
                </li>
                {{/if}}
                <li>
                    <LinkTo @route="profile">
                    <i class="fas fa-cog"></i>
                    {{t 'Change profile'}}
                    </LinkTo>
                </li>
                <li>
                    <a {{action 'invalidateSession'}} href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        {{t 'Logout'}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{yield}}