<div class="text-center">
    <ul class="pagination">
        {{#if this.previousDisabled}}
            <li class="page-item disabled">
                <a class="page-link">{{t 'Previous'}}</a>
            </li>
        {{else}}
            <li class="page-item">
                <a class="page-link" href="#" {{action "previousPage" this.page}}>{{t 'Previous'}}</a>
            </li>
        {{/if}}
        {{#each this.pages as |number|}}
            {{#if (eq number this.page)}}
                <li class="page-item active">
                    <span class="page-link">
                        {{{number}}}
                    </span>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="#" {{action "changePage" number}}>{{{number}}}</a>
                </li>
            {{/if}}
        {{/each}}
        {{#if this.nextDisabled}}
            <li class="page-item disabled">
                <a class="page-link">{{t 'Next'}}</a>
            </li>
        {{else}}
            <li class="page-item">
                <a class="page-link" href="#" {{action "nextPage" this.page}}>{{t 'Next'}}</a>
            </li>
        {{/if}}
    </ul>
</div>