<h1>
    <i class="fas fa-{{model.password.icon}}"></i> 
    {{model.password.title}}
</h1>
<Password::PasswordContent @password={{model.password}} @folder={{model.folder}} @onDeletePassword={{action "onDeletePassword"}} @onSavePassword={{action "onSavePassword"}} @canAccessAllFolders={{canAccessAllFolders}} @isPasswordVisible={{model.isPasswordVisible}} @isEdit={{model.isEdit}} @errors={{updatingPasswordErrors}} @canViewLogs={{canViewLogs}} @passwordDecrypted={{passwordDecrypted}} @pinDecrypt={{pinDecrypt}} @isPinValid={{isPinValid}} @failureCounted={{passwordDescryptionFailureCounted}} @passwordDescryptionBlocked={{passwordDescryptionBlocked}} />
{{#if canViewLogs}}
    <Password::PasswordLog @logs={{logs}} @page={{page}} @pageCount={{pageCount}} @changeLogPage={{action "changeLogPage"}} @refreshLog={{action "refreshLog"}} @password={{model.password}} @users={{model.users}} />
{{/if}}
{{outlet}}