<h1>
    <i class="fas fa-{{this.model.password.icon}}"></i> 
    {{this.model.password.title}}
</h1>
<Password::PasswordContent @password={{this.model.password}} @folder={{this.model.folder}} @onDeletePassword={{action "onDeletePassword"}} @onSavePassword={{action "onSavePassword"}} @canAccessAllFolders={{this.canAccessAllFolders}} @isPasswordVisible={{this.model.isPasswordVisible}} @isEdit={{this.model.isEdit}} @errors={{this.updatingPasswordErrors}} @canViewLogs={{this.canViewLogs}} @passwordDecrypted={{this.passwordDecrypted}} @pinDecrypt={{this.pinDecrypt}} @isPinValid={{this.isPinValid}} @failureCounted={{this.passwordDescryptionFailureCounted}} @passwordDescryptionBlocked={{this.passwordDescryptionBlocked}} />
{{#if canViewLogs}}
    <Password::PasswordLog @logs={{this.logs}} @page={{this.page}} @pageCount={{this.pageCount}} @changeLogPage={{action "changeLogPage"}} @refreshLog={{action "refreshLog"}} @password={{this.model.password}} @users={{this.model.users}} />
{{/if}}
{{outlet}}