{{#if this.isPowerSelect}}
    <PowerSelect @options={{this.selectOptions}} @allowClear={{this.allowClear}} @onChange={{action "selectOptionChange"}} @destination={{this.destination}} @selected={{this.value}} as |icon|>
        {{print-select-values-handle icon (action 'printSelectValuesHandle')}}
        {{!--<i class="fas fa-{{icon}}"></i>--}}
    </PowerSelect>
{{else}}
    <select 
        class={{this.class}} 
        name={{this.name}}
        onChange={{action 'selectOptionChange' value="target.value"}}
    >
        {{#each this.selectOptions as |selectOption|}}
            {{#if (eq selectOption.value this.value)}}
                <option value="{{selectOption.value}}" selected>
                    {{print-select-values-handle selectOption (action 'printSelectValuesHandle')}}
                </option>
            {{else}}
                <option value="{{selectOption.value}}">
                    {{print-select-values-handle selectOption (action 'printSelectValuesHandle')}}
                </option>
            {{/if}}
        {{/each}}
    </select>
{{/if}}
{{#if (or (and this.showElementMessage (not this.isElementValid)) (and this.showMessage (not this.isElementValid)))}}
    <div class="errors-list">
        {{errorMessage}}
    </div>
{{/if}}