 <div class="input-group">
    <Input @type={{this.type}} class={{this.class}} @id={{this.viewId}} @name={{this.name}} placeholder={{this.placeholder}} @value={{this.value}} @key-up={{action "keyUp"}} />
    <span class="input-group-addon password-generator" {{action this.refreshPassword}}>
        <i class="fas fa-sync-alt"></i>
    </span>
    <span class="input-group-addon password-options-btn " {{action this.showPasswordGeneratorOption}}>
        <i class="fas fa-cog"></i>
    </span>
</div>
{{#if (or (and this.showElementMessage (not this.isElementValid)) (and this.showMessage (not this.isElementValid)))}}
    <div class="errors-list">
        {{this.errorMessage}}
    </div>
{{/if}}