<h1>
    <i class="fas fa-folder"></i>
    {{this.model.folderName}}
</h1>

<Folder::FolderUsers @folder={{this.model.folder}} @users={{this.model.users}} @filteredUsers={{this.model.filteredUsers}} @folderUsers={{this.model.folderUsers}} @folderId={{this.model.folderId}} @canAccessAllFolders={{this.model.folder.canAccessAllFolders}} @isAdd={{this.isAdd}} @errors={{this.errors}} @controller={{this}} @onUpdatePermission={{action "onUpdatePermission"}} @onDeletePermission={{action "onDeletePermission"}} />
{{outlet}}