<div class="panel panel-default password-content read">
    <div class="panel-heading">
        {{t 'New password'}}
        <div class="pull-right">
            <div class="btn-group">
                {{#link-to "folders.folder.index" class="edit btn btn-default btn-xs"}}
                    {{t 'Cancel'}} <i class="fas fa-times"></i>
                {{/link-to}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" {{action 'submit' folderId on='submit'}}>
            <div class="form-group {{if errors.title 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Title'}}
                </label>
                <div class="col-sm-10">
                    {{input class="form-control" value=title}} {{{display-errors errors.title}}}
                </div>
            </div>
            <div class="form-group {{if errors.icon 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Icon'}}
                </label>
                <div class="col-sm-10">
                    {{#power-select options=icons allowClear=true selected=icon onchange=(action (mut icon)) as
                    |icon|}}
                    <i class="fas fa-{{icon}}"></i>
                    {{/power-select}} {{{display-errors errors.icon}}}
                </div>
            </div>
            <div class="form-group {{if errors.description 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Description'}}
                </label>
                <div class="col-sm-10">
                    {{tinymce-editor options=options name="description" value=description class="form-control"}}
                    {{{display-errors errors.description}}}
                </div>
            </div>
            <div class="form-group {{if errors.username 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Username'}}
                </label>
                <div class="col-sm-10">
                    {{input class="form-control" value=username}} {{{display-errors errors.username}}}
                </div>
            </div>
            <div class="form-group {{if errors.password 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Password'}}
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                        {{input class="form-control" id="passwordEdit" name="password" type="text" value=password maxlength=200}}
                        <span class="input-group-addon password-generator" {{action "refreshPassword"}}>
                            <i class="fas fa-sync-alt"></i>
                        </span>
                        <span class="input-group-addon password-options-btn " {{action "showPasswordGeneratorOption"}}>
                            <i class="fas fa-cog"></i>
                        </span>
                    </div>
                    <div>
                        {{{display-errors errors.password}}}
                    </div>
                    <div class="panel panel-default password-options-form ">
                        <div class="panel-heading">
                            {{t 'Options'}}
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs password-options-reset"
                                        {{action "ResetPasswordGenerator"}}>
                                        {{t 'Reset' }}
                                    </a>
                                    <a class="btn btn-default btn-xs password-options-close"
                                        {{action "showPasswordGeneratorOptionClose"}}>
                                        {{t 'Close'}}
                                    </a>
                                    <a class="btn btn-default btn-xs password-options-update"
                                        {{action "GeneratorPassword"}}>
                                        {{t 'Update'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">
                                        {{t 'Length'}}
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="password-length" type="number" value="8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">
                                        {{t 'Characters'}}
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="uppercase" checked> {{t 'uppercase'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="lowercase" checked> {{t 'lowercase'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="numbers" checked> {{t 'numbers'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="specialchars"> {{t 'specialChars'}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group {{if errors.url 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Url'}}
                </label>
                <div class="col-sm-10">
                    {{input class="form-control" name="url" type="text" value=url}} {{{display-errors errors.url}}}
                </div>
            </div>
            <div class="form-group {{if errors.tags 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Tags'}}
                </label>
                <div class="col-sm-10">
                    {{input class="form-control" name="tags" type="text" value=tags}} {{{display-errors errors.tags}}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'File'}}
                </label>
                <div class="col-sm-10 file-container">
                    {{input id="file" name="file" type="file"}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="submit" class="btn btn-primary" value="">
                        {{t 'Save'}}
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{yield}}