<div class="panel panel-default password-content">
    <div class="panel-heading">
        {{t 'New password'}}
        <div class="pull-right">
            <div class="btn-group">
                {{#link-to "folders.folder.index" class="edit btn btn-default btn-xs"}}
                    {{t 'Cancel'}} <i class="fas fa-times"></i>
                {{/link-to}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" {{action 'submit' on='submit'}}>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'Title'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{form/form-text
                        class="form-control" 
                        name="password-title"
                        value=title
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                            required=true
                            minLength=2
                            maxLength=100
                            )
                        }} 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'Icon'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{#power-select 
                        options=icons 
                        selected=icon 
                        destination="icons-wormhole"
                        onchange=(action (mut icon)) as
                        |icon|
                    }}
                    <i class="fas fa-{{icon}}"></i>
                    {{/power-select}} {{{display-errors errors.icon}}}
                </div>
            </div>
            <div class="form-group {{if errors.description 'has-error'}}">
                <label class="control-label col-sm-3">
                    {{t 'Description'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{form/form-tinymce
                        options=options
                        name="password-description"
                        value=description
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                            maxLength=4000
                            )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'Username'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{form/form-text
                        class="form-control"
                        name="password-username"
                        value=username
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                            maxLength=45
                            )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 with-tooltip">
                    {{t 'Password'}}
                    <a class="btn-tooltip" href="#" data-toggle="tooltip" data-placement="top" title={{t "visiblePassword"}}>
                        <i class="fas fa-info-circle"></i>
                    </a>
                </label>
                <div class="col-sm-8 col-md-10">
                     {{form/form-generate-password
                        class="form-control"
                        name="password-password"
                        value=password
                        isFormValid=isFormValid
                        showMessage=showMessage
                        keyUpCustomAction=(action 'resetPin')
                        refreshPassword=(action 'refreshPassword')
                        showPasswordGeneratorOption=(action 'showPasswordGeneratorOption')
                        validator=(validation-parameters
                            maxLength=200
                            )
                        }}
                     {{#if password}}
                        <label>
                            {{input 
                                name="use-pin" 
                                type="checkbox"
                                checked=frontendCrypted
                                }} &nbsp;{{t 'PIN encryption'}}
                        </label>
                    {{/if}}
                    <div class="panel panel-default password-options-form ">
                        <div class="panel-heading">
                            {{t 'Options'}}
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs password-options-reset"
                                        {{action "ResetPasswordGenerator"}}>
                                        {{t 'Reset' }}
                                    </a>
                                    <a class="btn btn-default btn-xs password-options-close"
                                        {{action "showPasswordGeneratorOptionClose"}}>
                                        {{t 'Close'}}
                                    </a>
                                    <a class="btn btn-default btn-xs password-options-update"
                                        {{action "GeneratorPassword"}}>
                                        {{t 'Update'}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        {{t 'Length'}}
                                    </label>
                                    <div class="col-sm-8 col-md-10">
                                        <input class="form-control" name="password-length" type="number" value="8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        {{t 'Characters'}}
                                    </label>
                                    <div class="col-sm-8 col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="uppercase" checked> {{t 'uppercase'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="lowercase" checked> {{t 'lowercase'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="numbers" checked> {{t 'numbers'}}
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="specialchars"> {{t 'specialChars'}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if frontendCrypted}}
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        {{t 'PIN'}}
                    </label>
                    <div class="col-sm-8 col-md-10">
                        {{form/form-text
                            class="form-control"
                            name="password-pin"
                            value=pin
                            isFormValid=isFormValid
                            showMessage=showMessage
                            validator=(validation-parameters
                                required=true
                                minLength=2
                                maxLength=50
                                )
                            }}
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'Url'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{form/form-text
                        class="form-control"
                        name="password-url"
                        value=url
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                            maxLength=100
                            )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'Tags'}}
                </label>
                <div class="col-sm-8 col-md-10">
                    {{form/form-text
                        class="form-control"
                        name="password-tags"
                        value=tags
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                            maxLength=400
                            )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    {{t 'File'}}
                </label>
                <div class="col-sm-8 col-md-10 file-container">
                    {{input id="file" name="file" type="file"}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8 col-md-10">
                    <button type="submit" name="submit" class="btn btn-primary" value="">
                        {{t 'Save'}}
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{yield}}

<div id="icons-wormhole"></div>