<div class="password-menu area open">
    <div class="title">
        {{#if this.showList}}
            <span {{action 'hidePasswordsList'}}>
                {{t 'Passwords list'}}
                <i class="fas fa-angle-down mobile"></i>
            </span>
        {{else}}
            <span {{action 'showPasswordsList'}}>
                {{t 'Passwords list'}}
                <i class="fas fa-angle-up mobile"></i>
            </span>
        {{/if}}
        <div class="pull-right">
            <div class="btn-group">
                {{#if (and this.selectFolder (or (eq this.folder.access 2) this.folder.canAccessAllFolders))}}
                    <LinkTo @route="folders.folder.new-password" @model={{this.folderId}} class="edit btn btn-default btn-xs">
                        <i class="fas fa-plus"></i>
                    </LinkTo>
                {{/if}}
            </div>
        </div>
    </div>
    <div class='scroll-container {{unless this.showList 'listHidden'}}'>
        {{#unless this.passwords}}
            {{#unless this.selectFolder}}
                <p class="alert alert-info">
                     <i class="fas fa-info-circle"></i>
                    {{t 'Please select a folder'}}
                </p>
            {{else}}
                <p class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    {{t 'There are no passwords'}}
                </p>
            {{/unless}}
        {{else}}
            <ul class="list list-password">
                {{#each this.passwords as |password|}}
                    <li>
                        <LinkTo @route="folders.folder.passwords.password" @model={{password.password_id}} class="read">
                            <Password::DraggableItem @content={{password.password_id}} @folder={{this.folder.id}}>
                                <i class="fa fa-{{password.icon}}"></i>
                                {{password.title}}
                            </Password::DraggableItem>
                        </LinkTo>
                    </li>
                {{/each}}
            </ul>
        {{/unless}}
    </div>
</div>