<div class='panel-heading'>
    {{t 'Options'}}
    <div class='pull-right'>
        <div class='btn-group'>
            <a class='btn btn-default btn-xs password-options-close' {{action 'closePasswordEncryptOption'}}>
                {{t 'Close'}}
            </a>
            <a class='btn btn-default btn-xs password-options-close' {{action 'refreshPassword'}}>
                {{t 'Refresh'}}
            </a>
            <a class='btn btn-default btn-xs password-options-update' {{action 'encryptPassword'}}>
                {{t 'Encrypt'}}
            </a>
            <a class='btn btn-default btn-xs password-options-update' {{action 'decryptPassword'}}>
                {{t 'Decrypt'}}
            </a>
        </div>
    </div>
</div>
<div class='panel-body'>
    <div class='form-horizontal'>
        <div class='form-group'>
            <label class='control-label col-sm-2'>
                {{t 'PIN'}}
            </label>
            <div class='col-sm-10'>
                <input class='form-control' name='password-encryption-pin' type='text' maxlength=50>
            </div>
        </div>
    </div>
</div>