<div class="panel panel-default log">
    <div class="panel-heading">
        {{t 'Password\'s log' }}
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <i class="fas fa-edit"></i> {{t 'Last password modification'}}: {{password.last_modification_date}}
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {{t 'Date'}}
                        </th>
                        <th>
                            {{t 'Username'}}
                        </th>
                        <th>
                            {{t 'Action'}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each logs as |log|}}
                        <tr>
                            <td class="grid-150">
                                {{log.action_date}}
                            </td>
                            <td>
                                {{log.userName}}
                            </td>
                            <td>
                                {{log.action}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if logs}}
        {{log-paginator page=page 
            pageCount=pageCount 
            changePage = (action 'submit')
        }}
    {{/if}}
</div>
{{yield}}