{{#if (and password.frontendCrypted (not isEdit))}}
    {{#if passwordDescryptionBlocked}}
        <p class="alert alert-danger">
            <i class="fas fa-ban"></i>
            {{t 'You exceeded the maximum allowed number of descryption attempts'}}
        </p>
    {{else}}
        <p class="alert alert-pin alert-{{if isPinValid 'success' 'danger'}}">
            <i class="fas fa-{{if isPinValid 'check-circle' 'exclamation-triangle'}}"></i>
            {{t 'The password is procteted with a PIN:'}}
            <div class="input-group">
                {{input 
                    class="form-control" 
                    type="password"
                    value=pinDecrypt
                    key-up="protectPassword"
                    }}
                <span class="input-group-addon btn" {{action 'desryptPassword'}}>
                    <i class="fas fa-unlock"></i>
                </span>
            </div>
        </p>
    {{/if}}
{{/if}}
<div class="panel panel-default password-content read">
    {{#if isEdit}}
        <div class="panel-heading">
            {{t 'Password\'s details'}}
            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-default btn-xs" {{action 'cancel'}}>
                        {{t 'Close'}} <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" {{action 'submit' on='submit' }}>
                <div class="form-group {{if errors.title 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Title'}}
                    </label>
                    <div class="col-sm-10">
                        {{input class="form-control" value=password.folder_id type="hidden" }} {{input class="form-control" value=password.title}} {{{display-errors errors.title}}}
                    </div>
                </div>
                <div class="form-group {{if errors.icon 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Icon'}}
                    </label>
                    <div class="col-sm-10">
                        {{#power-select options=icons allowClear=true onchange=(action (mut password.icon)) selected=password.icon as |icon|}}
                            <i class="fas fa-{{icon}}"></i>
                        {{/power-select}} {{{display-errors errors.icon}}}
                    </div>
                </div>
                <div class="form-group {{if errors.description 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Description'}}
                    </label>
                    <div class="col-sm-10">
                        {{tinymce-editor options=options value=password.description class="form-control"}} {{{display-errors errors.description}}}
                    </div>
                </div>
                <div class="form-group {{if errors.username 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Username'}}
                    </label>
                    <div class="col-sm-10">
                        {{input class="form-control" value=password.username}} {{{display-errors errors.username}}}
                    </div>
                </div>
                <div class="form-group {{if errors.password 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Password'}}
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            {{input 
                                class="form-control" 
                                id="passwordEdit" 
                                name="password" 
                                type="text" 
                                value=passwordDecrypted 
                                required=(if password.frontendCrypted true false)
                                maxlength=200
                                key-up="resetPin"
                                }}
                            <span class="input-group-addon password-generator" {{action "refreshPassword"}}>
                                <i class="fas fa-sync-alt"></i>
                            </span>
                            <span class="input-group-addon password-options-btn " {{action "showPasswordGeneratorOption"}}>
                                <i class="fas fa-cogs"></i>
                            </span>
                        </div>
                        <div>
                            {{{display-errors errors.password}}}
                        </div>
                        {{#if passwordDecrypted}}
                            <label>
                                {{input 
                                    name="use-pin" 
                                    type="checkbox"
                                    checked=password.frontendCrypted
                                    change=(action "setPassword" true)
                                    }} &nbsp;{{t 'PIN encryption'}}
                            </label>
                        {{/if}}
                        <div class="panel panel-default password-options-form ">
                            <div class="panel-heading">
                                {{t 'Options'}}
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs password-options-reset" {{action "ResetPasswordGenerator"}}>
                                            {{t 'Reset'}}
                                        </a>
                                        <a class="btn btn-default btn-xs password-options-close" {{action "showPasswordGeneratorOptionClose"}}>
                                            {{t 'Close'}}
                                        </a>
                                        <a class="btn btn-default btn-xs password-options-update" {{action "GeneratorPassword"}}>
                                            {{t 'Update'}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">
                                            {{t 'Length'}}
                                        </label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="password-length" type="number" value="8">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">
                                            {{t 'Characters'}}
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="uppercase" checked> {{t 'uppercase'}}
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="lowercase" checked> {{t 'lowercase'}}
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="numbers" checked> {{t 'numbers'}}
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="specialchars"> {{t 'specialChars'}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if password.frontendCrypted}}
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            {{t 'PIN'}}
                        </label>
                        <div class="col-sm-10">
                            {{input 
                                class="form-control" 
                                type="text"
                                value=pinEncrypt
                                maxlength="50"
                                required=true
                                key-up=(action "setPassword" false)
                                }}
                        </div>
                    </div>
                {{/if}}
                <div class="form-group {{if errors.url 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Url'}}
                    </label>
                    <div class="col-sm-10">
                        {{input class="form-control" name="url" type="text" value=password.url}} {{{display-errors errors.url}}}
                    </div>
                </div>
                <div class="form-group {{if errors.tags 'has-error'}}">
                    <label class="control-label col-sm-2">
                        {{t 'Tags'}}
                    </label>
                    <div class="col-sm-10">
                        {{input class="form-control" name="tags" type="text" value=password.tags}} {{{display-errors errors.tags}}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{t 'File'}}
                    </label>
                    <div class="col-sm-10 file-container">
                        {{#if password.fileId }}
                            {{password.fileName}}
                            <button class="btn btn-xs btn-default action" {{action "showDeleteFileConfirm"}}>
                                <i class="fas fa-trash"></i>
                            </button>
                            <button class="btn btn-xs btn-default action" {{action "downloadPasswordFile"}}>
                                <i class="fas fa-download"></i>
                            </button>
                        {{else}}
                            {{input id="file" name="file" type="file"}}
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="submit" class="btn btn-primary" value="">
                            {{t 'Save'}}
                            <i class="fas fa-save"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {{else}}
        <div class="panel-heading">
            {{t 'Password\'s details'}}
            <div class="pull-right">
                {{#if (or canAccessAllFolders (eq folder.access 2))}}
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" {{action 'showConfirm'}}>
                            <i class="fas fa-trash"></i>
                        </a>
                        {{#if (or isPinValid (not password.frontendCrypted))}}
                            <a class="btn btn-default btn-xs" {{action 'editPassword'}}>
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-password-content">
                    <tbody>
                        <tr>
                            <th>
                                {{t 'Description'}}
                            </th>
                            <td>
                                {{{password.description}}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{t 'Username'}}
                            </th>
                            <td>
                                {{password.username}}
                            </td>
                        </tr>
                        {{#if (or isPinValid (not password.frontendCrypted))}}
                            <tr>
                                <th>
                                    {{t 'Password'}}
                                </th>
                                <td class="password-read-container">
                                    {{#if password.password}}
                                        <span id='password-read' class="{{unless isPasswordVisible 'blur'}}">
                                            {{passwordDecrypted}}
                                        </span>
                                        <div class="buttons-container">
                                            <a class="btn btn-default btn-xs action" {{action "togglePasswordVisibility"}}>
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="btn btn-default btn-xs action" {{action "selectPassword"}}>
                                                <i class="fas fa-highlighter"></i>
                                            </a>
                                        </div>
                                    {{/if}}

                                </td>
                            </tr>
                        {{/if}}
                        <tr>
                            <th>
                                {{t 'Url'}}
                            </th>
                            <td>
                                <a href="{{password.url}}" target="_blank" rel="noopener nofollow">
                                    {{password.url}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{t 'Tags'}}
                            </th>
                            <td>
                                {{#if password.tags}}
                                    <ul class="tags">
                                        {{#each (w password.tags) as |tag|}}
                                            <li>
                                                {{tag}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{t 'File'}}
                            </th>
                            <td>
                                {{#if password.fileId }}
                                    {{password.fileName}}
                                    <a class="btn btn-default btn-xs action" {{action "downloadPasswordFile"}}>
                                        <i class="fas fa-download"></i>
                                    </a>
                                {{/if}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {{/if}}
</div>
<div class="panel panel-default password-content edit hide"></div>
{{yield}}



<div class="modal fade" id="deletePasswordConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-delete-password" aria-hidden="true">
    <div class="modal-with-action" {{action "cancelFormConfirm"}}></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-delete-password">
                    {{t "Password deletion"}}
                </h5>
            </div>
            <div class="modal-body">
                {{t "Are you sure you want to delete this password?"}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" {{action "cancelFormConfirm"}}>
                    {{t "Cancel"}}
                </button>
                <button type="button" class="btn btn-danger" {{action "deletePassword" password.id}}>
                    {{t "Delete"}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteFilePermissionConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-delete-file" aria-hidden="true">
    <div class="modal-with-action" {{action "cancelDeleteFileConfirm"}}></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-delete-file">
                    {{t "File deletion"}}
                </h5>
            </div>
            <div class="modal-body">
                {{t "Are you sure you want to delete this File?"}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" {{action "cancelDeleteFileConfirm" folderUser.id}}>
                    {{t "Cancel"}}
                </button>
                <button type="button" class="btn btn-danger" {{action "deletePasswordFile" folderUser folderId}}>
                    {{t "Delete"}}
                </button>
            </div>
        </div>
    </div>
</div>