<div class="password-menu area open">
    <div class="title">
        {{#if showList}}
            <span {{action 'hidePasswordsList'}}>
                {{t 'Passwords list'}}
                <i class="fas fa-angle-down mobile"></i>
            </span>
        {{else}}
            <span {{action 'showPasswordsList'}}>
                {{t 'Passwords list'}}
                <i class="fas fa-angle-up mobile"></i>
            </span>
        {{/if}}
        <div class="pull-right">
            <div class="btn-group">
                {{#if (and selectFolder (or (eq folder.access 2) folder.canAccessAllFolders))}}
                    {{#link-to "folders.folder.new-password" folderId class="edit btn btn-default btn-xs" }}
                        <i class="fas fa-plus"></i>
                    {{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class='scroll-container {{unless showList 'listHidden'}}'>
        {{#unless passwords}}
            {{#unless selectFolder}}
                <p class="alert alert-info">
                     <i class="fas fa-info-circle"></i>
                    {{t 'Please select a folder'}}
                </p>
            {{else}}
                <p class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    {{t 'There are no passwords'}}
                </p>
            {{/unless}}
        {{else}}
            <ul class="list">
                
                {{#each passwords as |password|}}
                    <li>
                        {{#link-to "folders.folder.passwords.password" password.password_id class="read" }}
                            <i class="fa fa-{{password.icon}}"></i>
                            {{password.title}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        {{/unless}}
    </div>
</div>