<li class="{{if this.folderUser.isEdit 'edit-view'}}">
    <div class="read">
        {{#if (eq this.folderUser.access 2)}}
            <i class="fas fa-pencil-alt"></i>
        {{else}}
            <i class="fas fa-eye"></i>
        {{/if}}
        {{#if this.folderUser.enabled}}
            {{this.folderUser.name}} {{this.folderUser.surname}}
        {{else}}
            <del>{{this.folderUser.name}} {{this.folderUser.surname}}</del>
        {{/if}}
    </div>
    {{#if (or this.canAccessAllFolders (eq this.folder.access 2))}}
    <div class="edit">
        <form class="form-folder-settings" {{action 'submit' on='submit' }}>
            <div class="folder-settings-container">
                <div class="user-select-container">
                    {{this.folderUser.name}} {{this.folderUser.surname}}
                </div>
                <label class="user-edit-container">
                    <Input @type="checkbox" @checked={{this.access}} />{{t 'Manage'}}
                </label>
            </div>
            <div class="form-btn">
                <button class="btn btn-default btn-xs action-close" {{action 'cancelEdit'}}>
                    {{t 'Cancel'}}
                </button>
                <button class="btn btn-primary btn-xs action-save" {{action 'updatePermission' this.folderUser this.folderId}}>
                    {{t 'Save'}}
                </button>
            </div>
        </form>
    </div>
    <div class="actions {{if this.isManage 'open'}}">
        <a class="btn btn-default btn-xs open-actions" {{action 'showConfirm' this.folderUser.id}}>
            <i class="fas fa-trash"></i>
        </a>
        <a class="btn btn-default btn-xs open-actions" {{action 'showEdit'}}>
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>
    <div class="modal fade" id="deletePermissionConfirm{{this.folderUser.id}}" tabindex="-1" role="dialog" aria-labelledby="confirm action" aria-hidden="true">
        <div class="modal-with-action" {{action "cancelFormConfirm"}}></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{t "Permission deletion"}}
                    </h5>
                </div>
                <div class="modal-body">
                    {{t "Are you sure you want to delete this permission?"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" {{action "cancelFormConfirm" this.folderUser.id}}>
                        {{t "Cancel"}}
                    </button>
                    <button type="button" class="btn btn-danger" {{action "deletePermission" this.folderUser this.folderId}}>
                        {{t "Delete"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="lastPermissionConfirm{{this.folderUser.id}}" tabindex="-1" role="dialog" aria-labelledby="confirm action" aria-hidden="true">
        <div class="modal-with-action" {{action "cancelFormConfirm"}}></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{t "Permission deletion"}}
                    </h5>
                </div>
                <div class="modal-body">
                    {{t "Are you sure you want to delete this permission?"}} <br>
                    {{t "lastPermissionDelete"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" {{action "cancelFormConfirm" this.folderUser.id}}>
                        {{t "Cancel"}}
                    </button>
                    <button type="button" class="btn btn-danger" {{action "deletePermission" this.folderUser this.folderId}}>
                        {{t "Delete"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</li>
