<div class="panel panel-default folder-permissions read">
    <div class="panel-heading">
        {{t 'Rights on folder'}}
        <div class="pull-right">
            {{#if (or this.canAccessAllFolders (eq this.folder.access 2))}}
                <div class="btn-group">
                    <a class="btn btn-default btn-xs" {{action 'addPermission' this.users}}>
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="scroll-container">
        <ul class="list">
            {{#if this.isAdd}}
                <Folder::NewPermissionElement @isAdd={{this.isAdd}} @errors={{this.errors}} @filteredUsers={{this.filteredUsers}} @folderUsers={{this.folderUsers}} @folderId={{this.folderId}} @reloadFolderUser={{action "reloadFolderUser"}} />
            {{/if}}
            {{#each folderUsers as |folderUser|}}
                <Folder::FolderUser @folderUser={{this.folderUser}} @folderId={{this.folderId}} @folder={{this.folder}} @canAccessAllFolders={{this.canAccessAllFolders}} @reloadFolderUser={{action "reloadFolderUser"}} @onUpdatePermission={{action "onUpdatePermission"}} @onDeletePermission={{action "onDeletePermission"}} />
            {{/each}}
        </ul>
    </div>
</div>