<li class="{{if this.folder.isEdit 'edit-view'}}">
    {{#unless (eq (get this.tree (concat "" this.folder.id)) undefined)}}
        <button id="collapse-icon-{{this.folder.id}}" class="chevron" {{action 'collapseFolder' this.folder}} >
            <i class="fas {{if this.folder.isShow 'fa-chevron-down' 'fa-chevron-right'}}"></i>
        </button>
    {{/unless}}
    {{#if (or this.canAccessAllFolders (eq this.folder.access 1) (eq this.folder.access 2))}}
        <Folder::DraggableDropzone @dropped={{action "addPassword"}}>
            <LinkTo @route="folders.folder" @model={{this.folder.id}} class="read">
                <i class="fas fa-folder"></i>
                <i class="fas fa-folder-open"></i>
                {{this.folder.name}}
            </LinkTo>
        </Folder::DraggableDropzone>
    {{else}}
        <Folder::DraggableDropzone @dropped={{action "addPassword"}} @value-id="folder-{{this.folder.id}}">
            <span class="read">
                <i class="fas fa-folder"></i>
                {{this.folder.name}}
            </span>
        </Folder::DraggableDropzone>
    {{/if}}
    {{#if this.folder.isEdit}}
        <div class="edit {{if this.errors.name 'has-error'}}" data-id="data-{{this.folder.id}}">
            <form {{action 'submit' on='submit' }}>
                <Form::FormText @type="text" @name="folder" @viewId={{concat "folderEditName" this.folder.id}} @class="form-control" @value={{this.folder.name}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=true minLength=2 maxLength=45 }} />
                <div class="form-btn">
                    <button style="display: none;">
                    </button>
                    <button class="btn btn-default btn-xs action-close" {{action 'cancelEdit'}}>
                        {{t 'Close'}}
                    </button>
                    <button class="btn btn-primary btn-xs action-save">
                        {{t 'Save'}}
                        <i class="fas fa-save"></i>
                    </button>
                </div>
            </form>
        </div>
    {{/if}}
    {{#if (or this.canAccessAllFolders (eq this.folder.access 2))}}
        <div class="actions {{if this.isManage 'open'}}">
            <a class="btn btn-default btn-xs open-actions" {{action 'showConfirm' this.folder.id}}>
                <i class="fas fa-trash"></i>
            </a>
            <a class="btn btn-default btn-xs open-actions" {{action 'showAdd'}}>
                <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-default btn-xs open-actions" {{action 'showEdit'}}>
                <i class="fas fa-pencil-alt"></i>
            </a>
        </div>
    {{/if}}
    <ul>
        {{#if this.folder.isAdd}}
            <Folder::NewFolderElement @parentId={{this.folder.id}} @onCreateFolder={{action "onCreateFolder"}} />
        {{/if}}
        <div data-id="collapse-{{this.folder.id}}">
            {{#each (get this.tree (concat "" this.folder.id)) as |folderId|}}
                <Folder::FolderElement @removePassword={{action "removePassword"}} @folder={{get this.indexedFolders folderId}} @indexedFolders={{this.indexedFolders}} @tree={{this.tree}} @onCreateFolder={{action "onCreateFolder"}} @onUpdateFolder={{action "onUpdateFolder"}} @onDeleteFolder={{action "onDeleteFolder"}} @collapseFolder={{action "collapseFolder"}} @slideUp={{action "slideUp"}} @canAccessAllFolders={{this.canAccessAllFolders}} />
            {{/each}}
        </div>
    </ul>
</li>

{{#if (or this.canAccessAllFolders (eq this.folder.access 2))}}
<div class="modal fade" id="deleteFolderConfirm{{this.folder.id}}" tabindex="-1" role="dialog" aria-labelledby="confirm action"
    aria-hidden="true">
    <div class="modal-with-action" {{action "cancelFormConfirm"}}></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{t "Folder deletion"}}
                </h5>
            </div>
            <div class="modal-body">
                {{t "Are you sure you want to delete this folder?"}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" {{action "cancelFormConfirm" this.folder.id}}>
                    {{t "Cancel"}}
                </button>
                <button type="button" class="btn btn-danger" {{action "onDeleteFolder" this.folder.id}}>
                    {{t "Delete"}}
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}