<li class="edit-view">
    <div class="edit {{if errors.selectUser 'has-error'}}">
        <form {{action 'submit' folderId selectedUser on='submit' }}>
            <div class="user-select-container">
                <PowerSelect @selected={{selectedUser}} @printSelectValuesHandle={{action "printSelectValuesHandle"}} @options={{filteredUsers}} @isFormValid={{isFormValid}} @showMessage={{showMessage}} @onChange={{action "changeSelectedUser"}} @searchField="fullName" @validator={{validation-parameters required=true type="select"}} as |user|>
                    {{print-select-values-handle user (action 'printSelectValuesHandle')}}
                </PowerSelect>    
            </div>
            <label class="user-edit-container">
                <Input @type="checkbox" @id="access" @checked={{access}} />{{t 'Manage' }}
            </label>
            <br>
            <div class="form-btn">
                <button class="btn btn-default btn-xs action-close" {{action 'cancel'}}>
                    {{t 'Cancel'}} <i class="fas fa-times"></i>
                </button>
                <button class="btn btn-primary btn-xs action-save" disabled="{{unless selectedUser true}}">
                    {{t 'Add'}} <i class="fas fa-plus"></i>
                </button>
            </div>
            {{{display-errors errors.selectUser}}}
        </form>
    </div>
</li>