{{#if this.foldersController.searchResults.hasResults}} 
    <main class='main-password'>
    </main>
{{else}}
    <Password::PasswordList @passwords={{this.passwords}} @folderId={{this.folderId}} @folder={{this.model.folder}} @selectFolder={{this.selectFolder}} @tagName="" @showPasswordsList={{action "showPasswordsList"}} @hidePasswordsList={{action "hidePasswordsList"}} @showList={{this.showList}} />
    <main class='main-password'>
        {{outlet}}
    </main>
{{/if}}