{{#if foldersController.searchResults.hasResults}}
    <main class="main-password">
    </main>
{{else}}
    <Password::PasswordList @showPasswordsList={{action "showPasswordsList"}} @hidePasswordsList={{action "hidePasswordsList"}} @showList={{showList}} />
    <main class="main-password">
        {{outlet}}
    </main>
{{/if}}