<div class="panel panel-default edit ">
    <div class="panel-heading">
        {{t 'Personal data'}}
        <div class="pull-right">
            <div class="btn-group">
                <LinkTo @route="users.index" class="edit btn btn-default btn-xs">
                    {{t 'Cancel'}} <i class="fas fa-times"></i>
                </LinkTo>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" {{action 'submit' on='submit' }}>

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Username'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormText @type="text" @class="form-control" @name="username" @value={{this.username}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=true minLength=2 maxLength=45 }} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Password'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormText @type="password" @class="form-control" @id="actual_password" @name="actual_password" @value={{this.password}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=false minLength=8 maxLength=200 type="password" }} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Name'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormText @type="text" @class="form-control" @name="name" @value={{this.name}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=true minLength=1 maxLength=45 }} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Surname'}}
                </label>
                <div class="col-sm-10">
                     <Form::FormText @type="text" @class="form-control" @name="surname" @value={{this.surname}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=true minLength=1 maxLength=45 }} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Phone'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormText @type="text" @class="form-control" @name="phone" @value={{this.phone}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters minLength=1 maxLength=45 type="phone" }} />
                </div>
            </div>
            <div class="form-group {{if this.errors.email 'has-error'}}">
                <label class="control-label col-sm-2">
                    {{t 'Email'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormText @type="text" @class="form-control" @name="email" @value={{this.email}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @validator={{validation-parameters required=true minLength=0 maxLength=45 type="email" }} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Enabled'}}
                </label>
                <div class="col-sm-10">
                    <Input @type="checkbox" @checked={{this.enabled}} />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Language'}}
                </label>
                <div class="col-sm-10">
                    <Form::FormSelect @class="language-select form-control" @name="language" @isPowerSelect={{false}} @selectOptions={{this.userLanguages}} @value={{this.language}} @allowClear={{true}} @isFormValid={{this.isFormValid}} @showMessage={{this.showMessage}} @printSelectValuesHandle={{action "printSelectValuesHandle"}} @validator={{validation-parameters required=true minLength=2 maxLength=2 type="select" }} />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="submit" class="btn btn-primary">
                        {{t 'Save'}}
                        <i class="fa  fa-floppy-o"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{yield}}