<div class="user-menu area open">
    <div class="title">
        {{t 'Users list'}}
        <div class="pull-right">
            <div class="btn-group">
                <LinkTo @route="users.new-user" class="edit btn btn-default btn-xs">
                    <i class="fas fa-plus"></i>
                </LinkTo>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        {{#unless this.users}}
            <p class="alert alert-info">
                <i class="fas fa-info-circle"></i>
                {{t 'There are no users'}}
            </p>
            {{else}}
                <ul class="list">
                    {{#each this.users as |user|}}
                        <li style="{{unless user.enabled 'opacity:0.6'}}"> <!-- TODO -->
                            <LinkTo @route="users.user" @model={{user.id}} class="read">
                                <i class="fas fa-user"></i>
                                {{user.username}}
                            </LinkTo>
                            <div class="edit">
                                <input type="text" class="form-control" value="User 1">
                                <div class="form-btn">
                                    <a class="btn btn-default btn-xs action-close" href="javascript:void(0)">
                                        {{t 'Close'}} <i class="fas fa-times"></i>
                                    </a>
                                    <a class="btn btn-primary btn-xs action-save" href="javascript:void(0)">
                                        {{t 'Save'}}
                                        <i class="fas fa-save"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
        {{/unless}}
    </div>
</div>
{{yield}}