<div class="panel panel-default read {{if isEdit 'hide'}}">
    <div class="panel-heading">
        {{t 'Personal data'}}
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-xs" {{action 'showEdit'}}>
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="grid-130">
                            {{t 'Username'}}
                        </th>
                        <td>
                            {{user.username}}
                        </td>
                    </tr>
                    <tr>
                        <th class="grid-130">
                            {{t 'Name'}}
                        </th>
                        <td>
                            {{user.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{t 'Surname'}}
                        </th>
                        <td>
                            {{user.surname}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{t 'Phone'}}
                        </th>
                        <td>
                            {{user.phone}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{t 'Email'}}
                        </th>
                        <td>
                            <a href="mailto:{{user.email}}">
                                {{user.email}}
                            </a>
                        </td>
                    </tr>
                    {{#if isManageUsers}}
                        <tr>
                            <th>
                                {{t 'Enabled' }}
                            </th>
                            <td>
                                {{#if user.enabled}}
                                    <i class="fas fa-check"></i>
                                {{else}}
                                    <i class="fas fa-times"></i>
                                {{/if}}
                            </td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default edit {{unless isEdit 'hide'}}">
    <div class="panel-heading">
        {{t 'Personal data'}}
        {{#if isManageUsers}}
            <div class="pull-right">
                <div class="btn-group">
                    <a class="btn btn-default btn-xs" {{action 'cancel'}}>
                        {{t 'Close'}} <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal" {{action 'submit' on='submit' }}>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Username'}}
                </label>
                <div class="col-sm-10">
                    {{form/form-text
                        type="text"
                        class='form-control'
                        name='user-username'
                        value=user.username 
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    required=true
                                    minLength=2
                                    maxLength=45
                                    )
                        }}
                </div>
            </div>
            {{#if isManageUsers}}
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{t 'Password'}}
                    </label>
                    <div class="col-sm-10">
                        {{input class="form-control" value=user.password type="password"}} {{{display-errors errors.password}}}
                    </div>
                </div>
            {{else}}
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        {{t 'Password'}}
                    </label>
                    <div class="col-sm-10">
                        {{form/form-text
                        type='password' 
                        class='form-control'
                        id='actual_password'
                        name="actual_password"
                        value=actual_password 
                        placeholder=(t 'Current password')
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    required=(if (or newpass repeatnewpass) true)
                                    minLength=8
                                    maxLength=200
                                    type='password'
                                    )
                        }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                    </label>
                    <div class="col-sm-10">
                        {{form/form-text
                        type='password' 
                        class='form-control'
                        id='newpass'
                        name="newpass"
                        value=newpass 
                        placeholder=(t 'New password')
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    minLength=8
                                    maxLength=200
                                    type='password'
                                    )
                        }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">
                    </label>
                    <div class="col-sm-10">
                        {{form/form-text
                        type='password' 
                        class='form-control'
                        id='repeatnewpass'
                        name="repeatnewpass"
                        value=repeatnewpass 
                        placeholder=(t 'Repeat new password')         
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    minLength=8
                                    maxLength=200
                                    type='password' 
                                    equalTo=newpass
                                    )
                        }}
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Name'}}
                </label>
                <div class="col-sm-10">
                    {{form/form-text
                        type="text"
                        class='form-control'
                        name='user-name'
                        value=user.name 
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    required=true
                                    minLength=1
                                    maxLength=45
                                    )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Surname'}}
                </label>
                <div class="col-sm-10">
                    {{form/form-text
                        type="text"
                        class='form-control'
                        name='user-surname'
                        value=user.surname 
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    required=true
                                    minLength=1
                                    maxLength=45
                                    )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Phone'}}
                </label>
                <div class="col-sm-10">
                    {{form/form-text
                        type="text"
                        class='form-control'
                        name='phone'
                        value=user.phone
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    minLength=1
                                    maxLength=45
                                    type='phone'
                                    )
                        }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Email'}}
                </label>
                <div class="col-sm-10">
                    {{form/form-text
                        type="text"
                        class='form-control'
                        name='email'
                        value=user.email
                        isFormValid=isFormValid
                        showMessage=showMessage
                        validator=(validation-parameters
                                    required=true
                                    minLength=0
                                    maxLength=45
                                    type='email'
                                    )
                        }}
                </div>
            </div>
            {{#if isManageUsers}}
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Enabled'}}
                </label>
                <div class="col-sm-10">
                    {{input type="checkbox" checked=user.enabled}}
                </div>
            </div>
            {{/if}}           
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {{t 'Language'}}
                </label>
                <div class="col-sm-10">
                        {{form/form-select
                            class='language-select form-control'
                            name='language'
                            isPowerSelect=false
                            selectOptions=userLanguages
                            value=user.language
                            isFormValid=isFormValid
                            showMessage=showMessage
                            printSelectValuesHandle=(action 'printSelectValuesHandle')
                            validator=(validation-parameters
                                    required=true
                                    minLength=2
                                    maxLength=2
                                    type='select'
                                    )
                        }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="submit" class="btn btn-primary">
                        {{t 'Save'}}
                        <i class="fa  fa-floppy-o"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="forceLogoutModal" tabindex="-1" role="dialog" aria-labelledby="confirm action" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="modal-with-action" {{action "CloseForceLogoutModal"}}></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{t "Token is no longer valid after the change."}}
                </h5>
            </div>
            <div class="modal-body">
                {{t "User is forced to re-login."}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" {{action "CloseForceLogoutModal"}}>
                    {{t "Close"}}
                </button>
            </div>
        </div>
    </div>
</div>
{{yield}}