<div class="col-sm-12">
    <Input @type={{type}} class="form-control" @id={{viewId}} @name={{name}} placeholder={{placeholder}} @value={{value}} data-validation={{dataValidation}} data-validation-length={{dataValidationLength}} />
</div>