<div class="col-sm-12">
    <Input @type={{this.type}} class="form-control" @id={{this.viewId}} @name={{this.name}} placeholder={{this.placeholder}} @value={{this.value}} data-validation={{this.dataValidation}} data-validation-length={{this.dataValidationLength}} />
</div>