<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img class="logo-login" src="/assets/images/logo.svg" alt="login">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <form id="loginForm" class="form-horizontal" name="login" {{action 'authenticate' on='submit'}}>
                        <div class="form-group {{if errors.username 'has-error'}}">
                            {{form/form-text
                                type="text"
                                viewId="username"
                                name="username" 
                                placeholder='Username' 
                                value=username 
                                required=true
                                minLength=2
                                isFormValid=isFormValid
                                showMessage=showMessage
                            }}
                        </div>
                        <div class="form-group {{if errors.password 'has-error'}}">
                            {{form/form-text
                                type="password"
                                viewId="password"
                                name="password" 
                                placeholder='Password' 
                                value=password 
                                required=true
                                isFormValid=isFormValid
                                showMessage=showMessage
                            }}
                        </div>
                        <div class="form-group ">
                            <div class=" col-sm-12">
                                <button type="submit" name="save" class="btn btn-lg btn-primary btn-block" value="">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}

{{browser-error}}