

<div class="profile-container">
    {{#if showChangePasswordMessage}}
        <p class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            {{t "Please change your password for the first time you logged in"}}
        </p>
    {{/if}}
    <User::UserDetails @user={{model.user}} @isEdit={{true}} @errors={{updatingUserErrors}} @isManageUsers={{false}} />
</div>